<!DOCTYPE html>
<head>
<meta charset="utf8"/>
<title>
	{{title}}
</title>
<link href="template.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="_lightBox">
    <div id="_lightBoxBorder">
    <div id="_lightBoxClose"><img id="_lbclose" src="images/cross.png"></div>
	<div class="subtitle">自然有意思 共8集</div>
	<div class="audioText">第一集&nbsp;&nbsp;&nbsp;&nbsp;台北植物園與林木保種</div>
	<div class="audioText">第二集&nbsp;&nbsp;&nbsp;&nbsp;漂流木爭議與山林保育</div>
	<div class="audioText">第三集&nbsp;&nbsp;&nbsp;&nbsp;魚菜共生</div>
	<div class="audioText">第四集&nbsp;&nbsp;&nbsp;&nbsp;金山小白鶴帶來的土地生機</div>
	<div class="audioText">第五集&nbsp;&nbsp;&nbsp;&nbsp;都市林木的重要性與保護</div>
	<div class="audioText">第六集&nbsp;&nbsp;&nbsp;&nbsp;蜜峰衰竭研究</div>
	<div class="audioText">第七集&nbsp;&nbsp;&nbsp;&nbsp;外來種刺桐釉小蜂</div>
	<div class="audioText">第八集&nbsp;&nbsp;&nbsp;&nbsp;食用昆蟲</div>
	</div>
</div>
<div id="_body">
	<div id="_header">
		<div id="_headerBorder">
			<div id="_headerLeft">
				<div id="_headerLogo1">
					<img src="images/logo1.jpg" />
				</div>
				<div id="_headerX">
					X
				</div>
				<div id="_headerLogo2">
					<img src="images/logo2.png" />
				</div>
			</div>
			<div id="_headerCenter">
				互動學習小空間
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				答題記錄
			</div>
			<div id="_headerRight">
				<div id="_headerRightRow1">登出</div>
				<div id="_headerRightRow2">
					回官網
					&nbsp;&nbsp;&nbsp;&nbsp;
					聯絡我們
				</div>
				<div id="_headerRightRow3">
					<input type="text" name="search" />

					<button>&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/search.png"></button>
				</div>
			</div>
		</div>
	</div>
	<div id="_content">
		<div id="_contentBG">
			<div id="_contentBGBorder">
				<div id="_channel_title">台北植物園與林木保種</div>
				<div id="_channel_summary">大自然是最能啟發人心、最迷人的教室。本節目將以生態旅遊與自然觀察並行，帶領民眾遠觀山川大澤、細察蟲魚鳥獸，由認識自然、瞭解自然，而生守護自然之心；從生態議題與環境變遷中，省思並傳遞生態保育、永續地球的理念。</div>
				<div id="_channel_keyword">#大自然  #生態旅遊 #環境</div>
				<div id="_channel_playButton">
					<img src="images/play.png" />
					</br>
					播放
				</div>
			</div>
			<div id="_music_playerBorder">
				<div id="_music_player">
					<div id="_music_sound">
						<img src="images/sound.png" />
					</div>
					<div id="_music_operator">
						<div id="_music_prev">
							<img src="images/prev.png" />
						</div>
						<div id="_music_stop">
							<img src="images/stop.png" />
						</div>
						<div id="_music_next">
							<img src="images/next.png" />
						</div>
					</div>
					<div id="_music_progress">
						<div id="_music_bar">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="_contentBody">
			<div id="_contentBodyBorder">
				<div class="row">
					<div id="_contentBodyLeft">
						<div id="question_mode">
							<input type="checkbox" name="">
						</div>
						<div class="title big_title">互動問答專區</div>
						<div id="question">
							<div id="question_content">
								互動題目 測試XXXXXXXXXX
							</div>
							<button>答案 A</button>
							<button>答案 B</button>
							<button>答案 C</button>
							<button>答案 D</button>
						</div>
					</div>
					<div id="_contentBodyRight">
						<div id="channel_border">
							<div id="channel">
								<div id="channel_title" class="title normal_title">自然有意思</div>
								<div id="channel_contentHR"></div>
								<div id="channel_content">
									播出日期：2017/3/11</br>
									主持人：楊世平、賴素燕
								</div>
							</div>
							<div id="audio">
								<div id="audio_count" class="subtitle">共8集</div>
								<div id="audio_audiosHR"></div>
								<div id="audio_audios">
									第一集&nbsp;&nbsp;&nbsp;&nbsp;台北植物園與林木保種</br>
									第二集&nbsp;&nbsp;&nbsp;&nbsp;漂流木爭議與山林保育</br>
									第三集&nbsp;&nbsp;&nbsp;&nbsp;魚菜共生
								</div>
								<div id="audio_getAll">
									瀏覽全部8集
								</div>
							</div>
						</div>
						<div id="channel_photo">
							<img src="images/a.jpg" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="_footer">
		<div id="_footerBorder">
		地址：(10066) 臺北市中正區南海路45號 電話：(02) 2388-0600　傳真：(02) 2389-3126 TANET　VOIP：99160500</br>
		服務信箱： service@ner.gov.tw　最佳使用瀏覽器：Google Chrome、Firefox、Apple Safari　</br>
		資訊安全政策　 隱私權保護政策　 版權宣告 - See more at: http://channelplus.ner.gov.tw/channel-program-episode.jsp?sn=33058#sthash.YINl9AnA.dpuf</br>
		</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(function () {
	$("#_channel_playButton").click(function () {
		//showPlayer();
		$final = 234;
		if ($("#_music_player").css("marginLeft") != "0px") {
			$final = 0;
		}
		$("#_music_player").css({
			"marginLeft": $final
		});
	});
	$("#_lbclose").click(function () {
		$("#_lightBox").fadeOut(300);
	});
	$("#audio_getAll").click(function () {
		$("#_lightBox").fadeIn(300);
	});
})
</script>
</body>
</html>