<!DOCTYPE html>
<head>
<meta charset="utf8"/>
<title>
	{{title}}
</title>
<link href="template.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="_body">
	<div id="_header">
		<div id="_headerBorder">
			<div id="_headerLeft">
				<div id="_headerLogo1">
					<img src="images/logo1.jpg" />
				</div>
				<div id="_headerX">
					X
				</div>
				<div id="_headerLogo2">
					<img src="images/logo2.png" />
				</div>
			</div>
			<div id="_headerCenter">
				互動學習小空間
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				答題記錄
			</div>
			<div id="_headerRight">
				<div id="_headerRightRow1">登出</div>
				<div id="_headerRightRow2">
					回官網
					&nbsp;&nbsp;&nbsp;&nbsp;
					聯絡我們
				</div>
				<div id="_headerRightRow3">
					<input type="text" name="search" />
					
					<button>&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/search.png"></button>
				</div>
			</div>
		</div>
	</div>
	<div id="_content">
		<div id="_contentBody">
			<div id="_contentBodyBorder">
				<div id="search">
					<div id="searchBorder">
						<div id="searchLogo" class="row">
							<div id="searchImage">
								<img src="images/logo4.png">
							</div>
							<div id="searchTextBorder">
								<div id="searchText">
									<div id="searchTextString">搜尋</div>
									<div id="searchTextUnderline"><img src="images/underline.png"></div>
								</div>
							</div>
						</div>
						<div id="searchInput">
							<input type="text" id="searchKeyword" name="searchKeyword" placeholder="輸入關鍵字" value="教育" />
						</div>
						<div id="searchButton">
							<input type="button" name="" value="搜尋">
						</div>
					</div>
				</div>

				<div id="result">
					<div id="resultTitle">
					搜尋結果
					</div>
					<div id="results">
						<div class="resultBorder row">
							<div class="resultImage">
								<img src="images/result.jpg" style="width: 71px;height: 64px;" />
							</div>
							<div class="resultText col">
								<div class="channelName">
									channelName
								</div>
								<div class="audioName">
									audioName
								</div>
							</div>
						</div>
						<div class="resultBorder row">
							<div class="resultImage">
								<img src="images/result.jpg" style="width: 71px;height: 64px;" />
							</div>
							<div class="resultText col">
								<div class="channelName">
									channelName
								</div>
								<div class="audioName">
									audioName
								</div>
							</div>
						</div>
						<div class="resultBorder row">
							<div class="resultImage">
								<img src="images/result.jpg" style="width: 71px;height: 64px;" />
							</div>
							<div class="resultText col">
								<div class="channelName">
									channelName
								</div>
								<div class="audioName">
									audioName
								</div>
							</div>
						</div>
						<div class="resultBorder row">
							<div class="resultImage">
								<img src="images/result.jpg" style="width: 71px;height: 64px;" />
							</div>
							<div class="resultText col">
								<div class="channelName">
									channelName
								</div>
								<div class="audioName">
									audioName
								</div>
							</div>
						</div>
						<div class="resultBorder row">
							<div class="resultImage">
								<img src="images/result.jpg" style="width: 71px;height: 64px;" />
							</div>
							<div class="resultText col">
								<div class="channelName">
									channelName
								</div>
								<div class="audioName">
									audioName
								</div>
							</div>
						</div>
						<div class="resultBorder row">
							<div class="resultImage">
								<img src="images/result.jpg" style="width: 71px;height: 64px;" />
							</div>
							<div class="resultText col">
								<div class="channelName">
									channelName
								</div>
								<div class="audioName">
									audioName
								</div>
							</div>
						</div>
						<div class="resultBorder row">
							<div class="resultImage">
								<img src="images/result.jpg" style="width: 71px;height: 64px;" />
							</div>
							<div class="resultText col">
								<div class="channelName">
									channelName
								</div>
								<div class="audioName">
									audioName
								</div>
							</div>
						</div>
						<div class="resultBorder row">
							<div class="resultImage">
								<img src="images/result.jpg" style="width: 71px;height: 64px;" />
							</div>
							<div class="resultText col">
								<div class="channelName">
									channelName
								</div>
								<div class="audioName">
									audioName
								</div>
							</div>
						</div>
						<div class="resultBorder row">
							<div class="resultImage">
								<img src="images/result.jpg" style="width: 71px;height: 64px;" />
							</div>
							<div class="resultText col">
								<div class="channelName">
									channelName
								</div>
								<div class="audioName">
									audioName
								</div>
							</div>
						</div>
						<div class="resultBorder row">
							<div class="resultImage">
								<img src="images/result.jpg" style="width: 71px;height: 64px;" />
							</div>
							<div class="resultText col">
								<div class="channelName">
									channelName
								</div>
								<div class="audioName">
									audioName
								</div>
							</div>
						</div>
						<div class="resultBorder row">
							<div class="resultImage">
								<img src="images/result.jpg" style="width: 71px;height: 64px;" />
							</div>
							<div class="resultText col">
								<div class="channelName">
									channelName
								</div>
								<div class="audioName">
									audioName
								</div>
							</div>
						</div>
						<div class="resultBorder row">
							<div class="resultImage">
								<img src="images/result.jpg" style="width: 71px;height: 64px;" />
							</div>
							<div class="resultText col">
								<div class="channelName">
									channelName
								</div>
								<div class="audioName">
									audioName
								</div>
							</div>
						</div>
						<div class="resultBorder row">
							<div class="resultImage">
								<img src="images/result.jpg" style="width: 71px;height: 64px;" />
							</div>
							<div class="resultText col">
								<div class="channelName">
									channelName
								</div>
								<div class="audioName">
									audioName
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div id="_footer">
		<div id="_footerBorder">
		地址：(10066) 臺北市中正區南海路45號 電話：(02) 2388-0600　傳真：(02) 2389-3126 TANET　VOIP：99160500</br>
		服務信箱： service@ner.gov.tw　最佳使用瀏覽器：Google Chrome、Firefox、Apple Safari　</br>
		資訊安全政策　 隱私權保護政策　 版權宣告 - See more at: http://channelplus.ner.gov.tw/channel-program-episode.jsp?sn=33058#sthash.YINl9AnA.dpuf</br>
		</div>
	</div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>

var x = 0;
var frame = $(".resultBorder").eq(0).clone();
function searchAnalysis(response) {
	$("#results").html("");
	$.each(response.response.docs, function (index, obj) {
		result = frame.clone();
		result.find(".audioName").text("Audio ID:" + obj.id);
		$("#results").append(result);
	});
}

function execSearch() {
	var searchContnet = $("#searchKeyword").val();
	var url = "http://nermoocs.org/solr/EBCStation/select?indent=on&q=" + 
		"content:\"" + searchContnet	+
		"\" AND summary:[*%20TO%20*]&wt=json&start=0&rows=10&wt=json&json.wrf=searchAnalysis"
	$.getScript(url);
}


$(function () {
	$("#searchButton input[type=button]").click(execSearch);
})
</script>
</body>
</html>