* {
	margin: 0;
	padding: 0;
}
body {
    width: 100vw;
    overflow-x: hidden;
}
#_body {
	width: 1200px;
	//margin: 0 auto;
}
#_header{
	z-index: 1px;
	position: relative;
	border-width:0px;
	width:1200px;
	height:125px;
	background:inherit;
	background-color:rgba(255, 255, 255, 1);
	box-sizing:border-box;
	border-width:1px;
	border-style:solid;
	border-color:rgba(121, 121, 121, 1);
	border-left:0px;
	border-right:0px;
	border-radius:0px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
	border-bottom-left-radius:0px;
	-moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
	-webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
	box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}

#_headerBorder {
	width: 1152px;
	margin: 13px auto;
	height: 103px;
	display: flex;
    align-items:flex-end;
}

#_headerLeft {
	width: 440px;
	height: 103px;
	/* below is for X */
	font-family: "Lucida Sans Unicode Bold", "Lucida Sans Unicode";
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    display: flex;
    align-items: center;
    color: rgb(153, 51, 0);
}

#_headerLogo1 img {
	width: 184px;
	margin-top: 5px;
}

#_headerX {
	padding: 0px 2px 0 10px;
	margin-top: 5px;
}

#_headerLogo2 img {
	margin-top: 10px;
	width: 128px;
	height: 103px;
}

#_headerCenter {
	width: 450px;
	font-family: 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #333;
}

#_headerRight {
	text-align: right;
    align-self:stretch;
}

#_headerRightRow1 {
    font-family: 'Noto Sans CJK TC Bold', 'Noto Sans CJK TC';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #999999;
    padding-bottom: 15px;
}

#_headerRightRow2 {
    font-family: 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
    color: #333;
    padding-bottom: 15px;
}

#_headerRightRow3 {
	display: flex;
	align-items: center;
}

#_headerRightRow3 input[type=text] {
	color: rgb(153, 153, 153);
	height: 25px;
    width: 212px;
    height: 25px;
    font-family: 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    padding: 1px 0px 1px 0px;
    box-sizing: border-box;
}

#_headerRightRow3 button {
	border: 0;
	background: none;
	margin-right: -43px;
}

#_content {

}
#_contentBG {
	width: 1200px;
	height: 345px;
	background: linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ), url('images/bg1.jpg');
    box-shadow: 0px 2px 5px rgba(204, 204, 204, 0.349019607843137);
    background-size: cover;
}

#_contentBGBorder {
	width: 497px;
	height: 345px;
	margin: 0 auto;
    text-align: center;
    color: #FFF;
}

#_channel_title {
	padding: 40px 0 20px 0;
	font-family: 'Noto Sans CJK TC Bold', 'Noto Sans CJK TC';
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color: #FFFFFF;
}
#_channel_summary {
    font-family: 'Noto Sans CJK TC Bold', 'Noto Sans CJK TC';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    line-height: 28px;
    word-wrap: break-word;
}
#_channel_keyword {
	padding: 20px 0 15px 0;
    font-family: 'Noto Sans CJK TC Bold', 'Noto Sans CJK TC';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    line-height: 28px;
}

#_channel_playButton {
	cursor: pointer;
}

#_music_playerBorder {
	position: relative;
    width: 234px;
    height: 345px;
    margin-top: -345px;
    margin-left: 966px;
    overflow: hidden;
}
#_music_player {
    width: 234px;
    height: 345px;
    margin-left: 234px;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-transition: all 1s; /* Safari 3.1 to 6.0 */
    transition: all 1s;
}

#_music_bar {
    width: 209px;
    height: 7px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 20px;
}

#_music_sound {
	text-align: right;
	padding: 40px 10px 90px 0;
}

#_music_operator {
	width: 150px;
	margin: 0 auto;
	display: flex;
	align-items: center;
    justify-content:space-around;
}

#_music_progress {
	width: 209px;
	margin: 0 auto;
}
#_contentBody {
}
#_footer {
    width: 1200px;
    height: 90px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#_footerBorder {
	width: 1108px;
	margin: 17px auto;
    font-family: 'Noto Sans CJK TC Medium', 'Noto Sans CJK TC';
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
}

#_contentBodyBorder {
}

#_contentBodyLeft {
    padding: 0 0 0 130px;
    width: 540px;
}
#_contentBodyRight {
    width: 475px;
    padding: 0 0 0 55px;
    padding-top: 23px;
}

.title {
    font-family: 'Noto Sans CJK TC Medium', 'Noto Sans CJK TC';
    font-weight: 500;
    font-style: normal;
    color: #339966;
}
.big_title {
    font-size: 24px;
}
.normal_title {
    font-size: 20px;
}

.subtitle {
    font-family: 'Arial';
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    text-align: left;
}

._unLogin#_headerRight{
    align-self: auto ! important;
}
._unLogin #_headerRightRow2{
    text-align: right;
    width: 212px;
}









#question {
    padding-top: 9px;
    width: 384px;
    padding-bottom: 56px;
}
#question_mode {
    text-align: right;
}
#question_content {
    font-family: 'Noto Sans CJK TC';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #000000;
    text-align: center;
}
#question button {
    width: 100%;
    border: 0;
    font-size: 16px;
    margin-top: 10px;
    width: 404px;
    height: 36px;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
}

#_contentBodyRight {
    display: flex;
}
#channel_border {
    width: 231px;
    margin-right: 31px;
}
#channel_photo {
    padding-top: 13px;
}
#channel_photo img {
    width: 144px;
    height: 185px;
}
#channel_contentHR, #audio_audiosHR {
    width: 215px;
    height: 1px;
    background: #000;
}
#channel_contentHR {
    margin: 10px 0 20px 0;
}
#audio_audiosHR {
    margin: 5px 0 11px 0;
}
#channel_content {
    margin: 0 0 30px 0;
}
#audio_getAll {
    margin: 22px 0 0 0;
    width: 215px;
    text-align: center;
}


#_lightBox {
    display: none;
    position: absolute;
    left: 50%;
    top: 25%;
    z-index: 100;
}

#_lightBoxBorder {
    width: 768px;
    height: 450px;
    overflow-y: auto;
    padding: 20px 30px 50px 30px;
    background: rgba(255, 255, 255, 0.847);
    position: relative;
    left: -50%;
    top: -50%;

}

#_lightBoxClose {
    text-align: right;

}
#_lightBoxBorder > .subtitle {
    padding: 15px 0;
}
#_lightBoxBorder > .audioText {
    padding: 5px 0;
    font-size: 16px;
    color: #333;

}











#login {
    margin: 170px auto 90px auto;
    width: 567px;
    height: 321px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(204, 204, 204, 1);
    border-radius: 25px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.349019607843137)
}

#loginBorder {
    padding: 30px 0;
    text-align: center;
}

#loginTitle {
    color: #3399CC;
    margin-bottom: 35px;
}

#loginBorder input[type=text], 
#loginBorder input[type=password] {
    width: 300px;
    height: 25px;
    font-style: normal;
    font-size: 13px;
    padding: 1px 0px 1px 0px;
    box-sizing: border-box;
    margin: 12px 0;
}

.row {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.col {
    display: flex;
    flex-direction:column;
}

#loginButtons {
    width: 300px;
    margin: 27px auto;
}
#loginButtons div:first-child {
    font-family: 'Noto Sans CJK TC Medium', 'Noto Sans CJK TC';
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    color: #FF9966;
}

#loginButtons div:last-child {
    color: #FFFFFF;
    width: 100px;
    height: 36px;
    background: inherit;
    background-color: rgba(51, 153, 204, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(51, 204, 255, 1);
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#loginButtons div:last-child input {
    background: none;
    border: none;
    font-family: 'Noto Sans Bold', 'Noto Sans';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 36px;
}

#collaboration {
    width: 375px;
    margin: 0 auto 50px auto;
}

#collaborationText {
    font-style: normal;
    font-size: 16px;
    color: #3399CC;
    font-family: 'Noto Sans Bold', 'Noto Sans';
    font-weight: 700;
    border-bottom: 3px solid #3399CC;
    padding-bottom: 5px;
}



#search {
    width: 668px;
    height: 300px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(204, 204, 204, 1);
    border-radius: 15px;
    margin: 20px auto;
}

#searchBorder {
    padding: 40px;
    text-align: center;
}
#searchLogo {
    margin: 0 auto;
    justify-content: center;
}
#searchImage img{
    width: 70px;
    height: 125px;
}

#searchText {
    font-family: 'Noto Sans CJK TC Medium', 'Noto Sans CJK TC';
    font-weight: 500;
    font-style: normal;
    font-size: 28px;
}
#searchText {
    display: flex;
    flex-direction:column;
    justify-content:center;
}

#searchTextUnderline {
    font-size: 12px;
}
#searchInput {
    margin: 15px 0 20px 0;
}
#searchInput input[type=text] {
    width: 339px;
    height: 25px;
    font-family: 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    padding: 1px 0px 1px 0px;
    box-sizing: border-box;
}

#searchButton input[type=button] {
    width: 140px;
    height: 40px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 20px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
}




#result {
    width: 630px;
    margin: 40px auto;
}

#resultTitle {
    margin: 15px 0 15px 15px;
    font-family: 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
}
.resultImage {
    display: flex;
    align-items: center;
}

#results {
    height: 330px;
    overflow-y: auto;
}

.resultBorder {
    width: 600px;
    height: 79px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(204, 204, 204, 1);
    border-radius: 15px;
    justify-content:flex-start;
    align-items:center;
    margin: 0 0 30px 0;
}

.resultImage {
    margin-left: 35px;
    margin-right: 45px;
}
.resultText {
    font-size: 16px;
    color: #333333;
}