{% extends "layout/admin.html" %}
{% block title %}音檔清單{% endblock %}
{% block cms_title %}音檔清單{% endblock %}
{% block box_header %}Hello {{user.name}} !{% endblock %}
{% block content %}
	<div><a href="{{url_for('admin.audio_add', channel_id=channel.channel_id)}}">新增音檔</a></div>
	<table id="example1" class="table table-bordered table-striped">
		<thead>
			<tr>
				<th width="80%">音檔名稱</th>
				<th>匯入逐字稿 / 檢視 / 編輯 / 刪除</th>
			</tr>
		</thead>
		<tbody>
			{% for audio in audios %}
			<tr>
				<td>{{audio.audio_name}}</td>
				<td>

				<a href="{{url_for('admin.keyword_view', id=audio.audio_id)}}" class="btn btn-success">
					<span class="glyphicon glyphicon-thumbs-up"></span>
				</a>

				<a href="{{url_for('admin.audio_view', id=audio.audio_id)}}" class="btn btn-primary">
					<span class="glyphicon glyphicon-file"></span>
				</a>

				<a href="{{url_for('admin.audio_edit', id=audio.audio_id)}}" class="btn btn-info">
					<span class="glyphicon glyphicon-pencil"></span>
				</a> 

				<a href="{{url_for('admin.audio_delete', id=audio.audio_id)}}" class="btn btn-danger">
					<span class="glyphicon glyphicon-trash"></span>
				</a>

				</td>
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<th>音檔名稱</th>
				<th>檢視 / 編輯 / 刪除</th>
			</tr>
		</tfoot>
	</table>
{% endblock %}
{% block after_body %}
  {{ super() }}
<script>
  $(function () {
    $("#example1").DataTable();
  });
</script>
{% endblock %}