{% extends "layout/admin.html" %}
{% block title %}節目單集{{behavior}}{% endblock %}
{% block cms_title %}節目單集{{behavior}}{% endblock %}
{% block box_header %}{% endblock %}
{% block content %}
      		{{ form.hidden_tag() }}
			<div class="form-group">
				<label for="audio_name">單集名稱</label>
				<select class="form-control" id="showAudit" name="showAudit" data-style="btn-primary">
				</select>
				<button id="copy4" class="btn btn-primary">帶入</button> 
        	  {{ form.audio_name(class="form-control", placeholder="輸入欲新增之單集名稱") }}
			</div>

			<div class="form-group">
			  <label for="NameofTelevise">廣播節目</label></br>
			  <input type="text" id="channelName" readonly="readonly" class="form-control" value="{{channel.channel_name}}">
        	  {{ form.audio_channel() }}
			</div>
  			
			<div class="form-group">
			  <label for="audio_file">上傳音檔</label>
        	  {{ form.audio_file(class="form-control", placeholder="選擇欲上傳的音檔") }}
			</div>
			
			<div class="form-group">
			  <label for="audio_file">上傳題目</label>
        	  {{ form.audio_question(class="form-control", placeholder="選擇欲上傳的題目CSV") }}
        	  {{ form.audio_id() }}
			</div>
			
{% endblock %}
{% block box_footer %}
<button class="btn btn-primary btn-block" type="submit">{{behavior}}</button>
{% endblock %}

{% block before_box %}
<form method="POST" enctype="multipart/form-data">
{% endblock %}
{% block after_box %}
</form>
{% endblock %}
{% block after_body %}
	<script type="text/javascript" src="{{url_for('static', filename='js/auditapi.js')}}?{{ range(1, 9999999999999) | random }}"></script>

  {{ super() }}
  {% if readonly %}
<script>
  $(function () {
  	$("input, textarea, select").attr("readonly", true);
  	$("select").attr("disabled", true);
  });
  $("form").submit(function () {
  	$("select").attr("disabled", false);
  	return true;
  });
</script>
 {% endif %}
 {% if isdelete %}
<script>
  $(function () {
  	$("input[type=file]").parent().css("display", "none");
  });
</script>
 {% endif %}
{% endblock %}