{% extends "layout/admin.html" %}
{% block title %}音檔清單{% endblock %}
{% block cms_title %}音檔清單{% endblock %}
{% block box_header %}Hello {{user.name}} !{% endblock %}
{% block content %}
	<div><a href="{{url_for('admin.audio_add', channel_id=channel.channel_id)}}">新增音檔</a></div>
	<table id="example1" class="table table-bordered table-striped">
		<thead>
			<tr>
				<th width="70%">音檔名稱</th>
				<th width="8%">匯入逐字稿</th>
				<th width="7%">匯入字幕</th>
				<th width="5%">檢視</th>
				<th width="5%">編輯</th>
				<th width="5%">刪除</th>
			</tr>
		</thead>
		<tbody>
			{% for audio in audios %}
			<tr>
				<td>{{audio.audio_name}}</td>
				<td>
					<a href="{{url_for('admin.keyword_view', id=audio.audio_id)}}" class="btn btn-success">
						<span class="glyphicon glyphicon-list-alt"></span>
					</a>
				</td>
				<td>
					<a href="{{url_for('admin.caption_view', id=audio.audio_id)}}" class="btn btn-success">
						<span class="glyphicon glyphicon-font"></span>
					</a>
				</td>
				<td>
					<a href="{{url_for('admin.audio_view', id=audio.audio_id)}}" class="btn btn-primary">
						<span class="glyphicon glyphicon-file"></span>
					</a>
				</td>
				<td>
					<a href="{{url_for('admin.audio_edit', id=audio.audio_id)}}" class="btn btn-info">
						<span class="glyphicon glyphicon-pencil"></span>
					</a> 
				</td>
				<td>
					<a href="{{url_for('admin.audio_delete', id=audio.audio_id)}}" class="btn btn-danger">
						<span class="glyphicon glyphicon-trash"></span>
					</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<th width="70%">音檔名稱</th>
				<th width="8%">匯入逐字稿</th>
				<th width="7%">匯入字幕</th>
				<th width="5%">檢視</th>
				<th width="5%">編輯</th>
				<th width="5%">刪除</th>
			</tr>
		</tfoot>
	</table>
{% endblock %}
{% block after_body %}
  {{ super() }}
<script>
  $(function () {
    $("#example1").DataTable();
  });
</script>
{% endblock %}