{% extends "layout/radio.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<section class="login_page">
  <div class="container">
    <h3 class="text-center">歡迎來到廣播磨課師</h3>
    <div class="row login_page-form">
      <div class="col-sm-5">
        <h5 class="text-center">會員登入</h5>
          <form method="post"  action="{{url_for('radio.login')}}">
            {{ form.hidden_tag() }}                  
            <div class="form-group has-feedback">
              {{ form.account(class="form-control", placeholder="帳號") }}
            </div>
            <div class="form-group has-feedback">
              {{ form.password(class="form-control", placeholder="登入密碼") }}
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"/>記得我，下次自動登入
              </label>
            </div>
            <button type="submit" class="btn login_page-btn">登入</button>
            <button type="button"  style="float:left; margin-top:10px;" onclick="checkFBlogin();" class="btn btn-primary btn-block">FB login</button>
            <!-- <div class="fb-login-button" style="float:left; padding-top:10px;" data-button-type="continue_with" data-size="large" type="button" onclick="checkFBlogin();"></div> -->
            <div class="g-signin2"  class="btn btn-default"  data-width="250px" style="float:left; padding-top:10px;" data-onsuccess="onSignIn"></div>            
          </form>
      </div>
      <div class="col-sm-2 text-center hidden-xs">
        <div class="login_page-line"></div>
      </div>
      <div class="col-sm-5">
        <h5 class="text-center">註冊</h5>
        <form method="post" onsubmit="alert(註冊成功); return true;" action="{{url_for('radio.register')}}">
          {{ reg.hidden_tag() }}
          <div class="form-group">
            {{ reg.name(class="form-control", placeholder="姓名") }}
          </div>
          <div class="form-group">
            {{ reg.account(class="form-control", placeholder="帳號") }}
          </div>
          <div class="form-group">
            {{ reg.password(class="form-control", placeholder="密碼") }}
          </div>
          <button class="btn login_page-btn" type="submit">註冊</button>
        </form>
          <!-- <a href="{{url_for('radio.register')}}" class="btn btn-info btn-block">
              註冊會員
          </a> -->
      </div>
    </div>  
    <div class="row login_page-links">
      <div class="col-sm-12">
        <div class="link text-center"><a href="#">資訊安全政策</a><span>|</span><a href="#">隱私權保護政策</a><span>|</span><a href="#">版權宣告</a><span>|</span><a href="#">聯絡我們</a></div>
      </div>
    </div>
  </div>
  
</section>

{% endblock %}
{% block after_body %}

{% endblock %}